body{
    background-color: white;
    margin: 5px;
    padding: 5px;
}
#container{
    height:87vh; 
    width: 97vw;
    padding: 5px; 
    margin: 5px;
}
h1{
    padding: 5px;
    margin: 5px;
}

a{
    height:fit-content;
    margin: 2px;
}

h3{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    height:fit-content;
    margin: 0px;
}

.bottom-container{
    
    height:50px;

    padding: 5px;
    margin: 5px;
}

.footer-span{
    position: relative;
    top: calc(35%);
    left: calc(36%);

    width: fit-content;
    height:fit-content;

    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}





/* Below is for the inline elements to a row*/
.parent {
    height:40px; 
    width: 600px;
    padding: 5px;
    margin: 1px;   
}

.child {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;
}

.float-left-child {
    float: left;
    align-self: center;
    padding: 5px;
    margin:2px
}