html
{
    width: fit-content;
    height: 97vh;
    padding: 5px;
    margin: 5px;
}
body
{
    width: 85vw;
    
    padding: 5px;
    margin: 0px;
}







.parent
{
    position: relative;
    left: calc(23%);
    width: 938px;   
    margin: 5px;
}



#canvas
{
  
    margin: 1px;
    
}

html
{
    background-color: lightgray;
}