#canvas
{
    position: relative;
    border:3px solid rgb(255, 255, 255);
    background-color: white;
    width: 1000px;
    height: 950px;
    left: calc(23%);
}

html
{
    background-color: lightgray;
}