html
{
    width: 100vw;
    height: 97vh;
    padding: 2px;
    margin: 2px;
}
body
{
    width: 75vw;
    
    padding: 5px;
    margin: 0px;
}



#canvas
{
  
    position: relative;
    left: calc(23%);
    margin: 2px;
    padding: 2px;
    
}



#canvas_score
{
    position: relative;
    left: 20vw;
    bottom: -0.8vw;
    
    padding: 2px;
    margin: 2px;
    

    width:310;
    height:910;
    float: right;
}


html
{
    background-color: lightgray;
}